.t1{
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 10px;
}
.t2{
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
}

p{
  font-size: 14px;
  color: rgba(#FFF, .5);
  margin-top: 0;
}

a{
  color: #FFF;
  font-size: 14px;
}

.container{
  padding: 15px;
}

.icon-back{
  margin-top: 10px;
  width: 30px;
}

label{
  font-size: 14px;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
}
form.login{
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(#FFF, .2);
}

.container-login-extern{
  border-bottom: 1px solid rgba(#FFF, .2);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.no-account{
  padding-top: 30px;
  p{
    font-family: 'mabry_proregular';
  }
  
  a{
    font-family: 'mabry_proregular';
    color: #FFF;
    font-size: 16px;
    text-decoration: underline;
  }
}

input{
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 12px 13px 13px;
  border: 1px solid rgba(#FFF, .45);
  border-radius: 3px;
  background: transparent;
  font-family: "mabry_proregular", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  transition: .3s;
  color: #FFF;

  &:focus{
    border: 1px solid rgba(#FFF, 1);
    background: transparent;
  }

  &:invalid{
    border-color: #CD2D2D;
    background: transparent;
  }

  &.search-fixed-input{
    border-radius: 80px;
    margin-bottom: 0;
    margin-bottom: 0;
  }
}
.text-center{
  text-align: center;
}
button[type="submit"]{
  width: 100%;
  padding: 12px 0 14px;
  appearance: none;
  -webkit-appearance: none;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 30px;
  background: #FFF;
  color: #000;
  font-family: 'mabry_proregular';
  margin-top: 15px;
}

.button{
  width: 100%;
  padding: 12px 0 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  color: #FFF;
  font-family: 'mabry_proregular';
  margin-top: 15px;
  text-align: center;
  display: block;
  background: transparent;
  border: 1px solid #FFF;

  &.white{
    background-color: #fff;
    color: #161616;
    font-weight: 600;
  }

  &.spotify, &.deezer{

    span{
      position: relative;

      &:before{
        content: '';
        width: 23px;
        height: 23px;
        vertical-align: middle;
        margin-left: -40px;
        background: url("../img/v2/spotify.svg");
        position: absolute;
        background-size: 100%;
        margin-right: 100%;
      }
    }
  }

  &.deezer{
    span{
      &:before{
        background-image: url("../img/v2/deezer.svg");
      }
    }
  }
}

.text-right{
  text-align: right;
}

.header{
  position: fixed;
  bottom: 0;
  z-index: 300;
  width: 100%;
  padding: 8px;
  padding-bottom: 40px;
  border-top: 1px solid #494949;
  background: #1B1B1B;

  &:before{
    content: '';
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
    pointer-events: none;
  }

  ul{
    display: flex;
    flex-direction: row;

    li{
      flex: auto;
      text-align: center;

      a{
        color: #FFF;
        font-size: 13px;

        span{
          margin-top: 3px;
          display: block;
        }
      }
      img{
        display: inline-block;
        opacity: .85;
      }
    }
  }
}